* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scheme {
  color: #f8e9a1;
  color: #f76c6c;
  color: #a8d0e6;
  color: #374785;
  color: #24305e;
}

body {
  font-family: "Sono", monospace;
  background-color: #24305e;
  color: #fafaf9;
  padding: 40px;
}

.header {
  margin-bottom: 40px;
}

.form {
  margin: 5px;
  margin-bottom: 40px;
  background-color: #374785;
  padding: 16px 40px;
  text-align: center;
}

.buddies {
  font-size: 20px;
  background-color: #374785;
  margin-bottom: 16px;
  padding: 24px;
}

.btn {
  text-transform: none;
  background-color: #a8d0e6;
  padding: 6px;
}

.group {
  padding: 5px;
}

h1 {
  font-family: "Concert One", sans-serif;
  font-size: 42px;
  text-transform: uppercase;
}

span {
  text-transform: uppercase;
  font-size: 14px;
}

ul {
  list-style: none;
}
