* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scheme {
  color: #f8e9a1;
  color: #f76c6c;
  color: #a8d0e6;
  color: #374785;
  color: #24305e;
}

body {
  font-family: "Sono", monospace;
  background-color: #24305e;
  color: #fafaf9;
  padding: 48px 64px;
}

h1 {
  font-family: "Concert One", sans-serif;
  font-size: 42px;
  text-transform: uppercase;
}

span {
  text-transform: uppercase;
  font-size: 14px;
}

.logo img {
  height: 68;
  width: 68;
}

/* MAIN LAYOUT */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form {
  margin: 5px;
  margin-bottom: 40px;
  background-color: #374785;
  padding: 16px 40px;
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid: 48px;
}

/* ELEMENTS */
.buddies {
  font-size: 20px;
  background-color: #374785;
  margin-bottom: 16px;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 3px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.group {
  background-color: #f76c6c;
  margin: 5px 5px;
}

.btn {
  text-transform: none;
  background-color: #a8d0e6;
  padding: 4px;
}
