body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(227, 227, 227);
  }
  .wrap-text {
      word-wrap: break-word;
      width: 400px;
  }
  fieldset {
      border: 0px solid #ccc
  }