* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: white;
}
.wrap-text {
  word-wrap: break-word;
  width: 400px;
}
fieldset {
  border: 0px solid #ccc;
}

.top_bar {
  background-color: black;
  color: white;
}
