/* CSS Document for project-2 */

h1, h2, p {
    text-align: center;
    }
    
    body {
        background-color: moccasin;
        background-image: url("assets/images/background.jpg");
    }
    
    .recipes {
        display: inline-block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .recipe p {
        
        text-align: left;
        width: 49%;
    }
    
    .time p {
        text-align: right;
        width: 49%;
    }