* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  max-width: 1200px;
  margin: auto;
  font-display: smooth;
}

body {
    background-color: black;

}

#banner {
  text-align: left;
  font-size: 40px;
  
}